/*
Start of index.css

Project 0003 (Website keegangrajek.com)

Made by Keegan Grajek

This file is under copyright by keegangrajek.com all rights reserved 2022

DELETE THE BELOW COMMENTS WHEN DONE

Rules for this document:
- classes are for defining individual objects
    = naming scheme should be .ftr-box-etc
- ids are for defining groups of objects
    = naming scheme should be #ftr-etc...-grp
    = They should have "-grp" at the end of each id

Note: naming schemes should have a mnemonic attatched ot them.

The main groups for this page are:
- head (hed)
- everything (all)
- scrollbar (scrlbr)
- header (hdr)
- body (bdy)
- footer (ftr)

organization should be done by ids (groups)
after groups organization should be done by classes

comments should describe every set of brackets and are before every initialization of code
section comments should describe grouped together pieces of code
ex. /* == section comment == * /
also, sections should be used very infrequently (used for finding large groups of code)

example setup:

/* == ftr section == * /

/* comments * /
#ftr-box-grp {
    ...
}

/* comments * /
.ftr-box-1 {
    ...
}

/* comments * /
.ftr-box-2 {
    ...
}
*/

/* == all section == */

/* Colors */

/* All attribute (affect everything) */

* {
    margin:0px;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

.cursor-default {
    cursor: default;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    --btn-color-hover: #b1dbb1;


}

/* width */
::-webkit-scrollbar {
    width: 12px;
    position: fixed;
    z-index: 10;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.70);
}

/* html,body{
} */

body {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}

/* == End of All Section == */

/* == Start of Media Query Section == */

@media only screen and (max-width: 1085px) {
    .body-div-1 {    
        overflow-y: scroll;
    }
}

@media only screen and (min-width: 1085px) {
    .body-div-1 {
        overflow-y: hidden;
    }
}

/* == End of Media Query Section == */

.header-div-1 {
    position: absolute;
    top: 0px;
    background-color: black;
    height: 60px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-div-1 h1 {
    margin-left: 5px;
    margin-right: 20px;
    color: white;
    font-size: medium;
}

.header-home-btn {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
}

.header-home-btn:hover {
    color:darkgrey;
    transition: all 0.3s;
}

.body-div-1 {
    margin-top: 60px;
    margin-bottom: 0px;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #f5fff4;
    background-image:  linear-gradient(30deg, #b1dbb1 12%, transparent 12.5%, transparent 87%, #b1dbb1 87.5%, #b1dbb1), linear-gradient(150deg, #b1dbb1 12%, transparent 12.5%, transparent 87%, #b1dbb1 87.5%, #b1dbb1), linear-gradient(30deg, #b1dbb1 12%, transparent 12.5%, transparent 87%, #b1dbb1 87.5%, #b1dbb1), linear-gradient(150deg, #b1dbb1 12%, transparent 12.5%, transparent 87%, #b1dbb1 87.5%, #b1dbb1), linear-gradient(60deg, #b1dbb177 25%, transparent 25.5%, transparent 75%, #b1dbb177 75%, #b1dbb177), linear-gradient(60deg, #b1dbb177 25%, transparent 25.5%, transparent 75%, #b1dbb177 75%, #b1dbb177);
    background-size: 70px 123px;
    background-position: 0 0, 0 0, 35px 61px, 35px 61px, 0 0, 35px 61px;
}

#main-btns {
    background-color: white;
    cursor: pointer;
    padding: 30px;
    margin: 20px;
    width: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    border-radius: 10px;
    transition: all 0.3s;
    text-decoration: none;
    color: black;
}

#main-btns:hover {
    background-color: var(--btn-color-hover);
    transition: all 0.3s;
}

/* Footer Stuff */

.footer-popup {
    display: none;
    margin-top: 60px;
    margin-bottom: 0px;
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.footer-div-1 { /* The button box for the footer popup */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: absolute;
    bottom: 0px;
    right: 12px;
    height: 40px;
    width: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.arrow-icon {
    height: 100%;
    width: 100%;
    display:block;
    position: relative;
    cursor: pointer;
}

.left-bar {
    position: absolute;   
    background-color: white;
    top: 18px;
    left:3px;
    width: 30px;
    height: 5px;
    display: block;
    transform: rotate(-60deg);
    float: right;
    border-radius: 2px;
    transition: all 0.2s;
}

.left-bar::after {
    content:"";
    width: 30px;
    height: 5px;
    display: block;
    float: right;
    border-radius: 4px 4px 4px 4px;
    transition: all 0.2s;
    z-index: -1;
}
  
.right-bar {
    position: absolute;  
    background-color: white;
    top: 18px;
    left:16px;
    width: 30px;
    height: 5px;
    display: block;
    transform: rotate(60deg);
    float: right;
    border-radius: 2px;
    transition: all 0.2s;
}

.right-bar::after {
    content:"";
    width: 30px;
    height: 5px;
    display: block;
    float: right;
    border-radius: 4px 4px 4px 4px;
    transition: all 0.2s;
    z-index: -1;
}

.open-left-bar {
    border-radius: 4px 4px 4px 4px;
    transition: all 0.2s;
    transform-origin: center center;
    transform: rotate(60deg);
    background-color: black !important;
}

.open-right-bar {
    border-radius: 4px 4px 4px 4px;
    transition: all 0.2s;
    transform-origin: center center;
    transform: rotate(-60deg);
    background-color: black !important;
}

/* == Mobile Menu Stuff == */

.mobilemenu-dropdown-btn { /* Single button at top of header */
    margin-left: 20px;
    margin-right: 5px;
    z-index: 12;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#dropdown-btns { /* Buttons inside dropdown body */
    background-color: black;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
    width: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px white;
    border-radius: 10px;
    transition: all 0.3s;
    text-decoration: none;
    color: white;
}

#dropdown-btns:hover {
    background-color: var(--btn-color-hover);
    color: black;
    transition: all 0.3s;
}

.mobilemenu-dropdown-body {
    display: none;
    margin-top: 60px;
    margin-bottom: 0px;
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.mobile-menu-bars-span-animation-1 {
    -webkit-transform: translate(0px, 10px) rotate(45deg) scale(1) skew(0deg);
    -moz-transform: translate(0px, 10px) rotate(45deg) scale(1) skew(0deg);
    -o-transform: translate(0px, 10px) rotate(45deg) scale(1) skew(0deg);
    transform: translate(0px, 10px) rotate(45deg) scale(1) skew(0deg);
}

.mobile-menu-bars-span-animation-1-not {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}

.mobile-menu-bars-span-animation-2 {
    transform: rotate(0deg) scale(0) skew(0deg) translate(0px);
}

.mobile-menu-bars-span-animation-2-not {
    transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}

.mobile-menu-bars-span-animation-3 {
    -webkit-transform: translate(0px, -10px) rotate(-45deg) scale(1) skew(0deg);
    -moz-transform: translate(0px, -10px) rotate(-45deg) scale(1) skew(0deg);
    -o-transform: translate(0px, -10px) rotate(-45deg) scale(1) skew(0deg);
    transform: translate(0px, -10px) rotate(-45deg) scale(1) skew(0deg);
}

.mobile-menu-bars-span-animation-3-not {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}
  

.mobilemenu-dropdown-span {
    cursor: pointer;
    height: 4px;
    border-radius: 90px;
    width: 60%;
    margin: 3px 0px;
    background-color: white;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}